body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

a{
    align-self: center;
    color: black;
}

h1{
    font-size: 9.4vmax;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    line-height: 1;
    margin: 0;
    text-shadow: -0.1vw 0.1vw 0 #000, 0.1vw 0.1vw 0 #000, 0.1vw -0.1vw 0 #000, -0.1vw -0.1vw 0 #000;
}

h2{
    font-size: 8.9vmax;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    line-height: 1;
    margin: 0;
    text-shadow: -0.1vw 0.1vw 0 #000, 0.1vw 0.1vw 0 #000, 0.1vw -0.1vw 0 #000, -0.1vw -0.1vw 0 #000;
}

svg{
    z-index: -1;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
    stroke-width:16;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:8;
    stroke-dasharray:none;
    stroke-dashoffset:0;
    stroke-opacity:1;
}

.main{
    display: flex;
}
    
.pp{
    width: 17vmax;
    height: auto;
    margin: 0.5vmax;
    border-radius: 1vmax;
    border-style: solid;
}

.names{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
    
.social-block{
    display: flex;
}

.social-image{
    width: auto;
    height: 5.5vmax;
    border-radius: 1vmax;
    margin: 0.3vmax;
}

@media (max-width: 1100px) and (orientation:portrait){

    .main{
        flex-direction: row;
        order: 1;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pp{
        width: 22.5vmax;
        height: auto;
    }

    .names{
        display: flex;
        order: 2;
        flex-basis: 100%;
    }

    .social-block{
        order: 2;
    }
    .social-image{
        width: auto;
        height: 7vmax;
    }
    
}